@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    @apply space-x-2 py-4 text-4xl font-bold text-primary;
  }
  h2 {
    @apply space-x-2 py-3 text-3xl font-bold text-primary;
  }
  h3 {
    @apply space-x-2 py-3 text-2xl font-semibold text-secondary;
  }
  h4 {
    @apply space-x-2 py-2 text-xl font-semibold text-secondary;
  }
  label {
    @apply label label-text font-semibold text-primary;
  }

  label.required::after {
    content: "*";
    color: red;
    font-size: 0.8em;
    padding-inline-start: 0.25em;
    align-self: start;
  }

  /*label:has(+ input["required"])::after*/

  textarea {
    @apply textarea textarea-bordered w-full;
  }
  select {
    @apply select select-bordered w-full;
  }
  .pill {
    @apply flex flex-wrap items-center gap-2 border border-neutral bg-base-200 p-[0.5rem] text-base-content;
    border-radius: var(--rounded-btn, 0.5rem);
  }

  .pill-xs {
    @apply px-[0.25rem] py-[0.125rem] text-xs;
  }

  .input-group {
    @apply flex items-center gap-2;
  }
}

html {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
}

body {
  @apply scroll-smooth;
}

.bg-gradient-home-hero {
  --hero-bg-opacity: 0.3;
  object-fit: fill;
  background:
    linear-gradient(
        oklch(var(--b1) / var(--hero-bg-opacity)),
        oklch(var(--b1) / var(--hero-bg-opacity))
      )
      0px 0px / 100% 100% no-repeat no-repeat,
    radial-gradient(
        circle at 50% 50%,
        oklch(var(--s)) 0%,
        rgba(0, 0, 0, 0) 65%,
        rgba(0, 0, 0, 0) 100%
      ) -35% -65% /
      100% 150% no-repeat no-repeat,
    radial-gradient(
        ellipse at 50% 50%,
        oklch(var(--a)) 0%,
        rgba(0, 0, 0, 0) 65%,
        rgba(0, 0, 0, 0) 100%
      )
      25% 25% / 110% 110% no-repeat no-repeat,
    conic-gradient(
        from 30deg at 0% 0%,
        oklch(var(--a)) 0%,
        oklch(var(--er)) 45%,
        rgba(0, 0, 0, 0) 70%
      )
      0px 0px / 100% 100% no-repeat no-repeat,
    linear-gradient(-6deg, oklch(var(--in)) 0%, 40%, oklch(var(--in)) 100%) 0px
      0px / 100% 100% no-repeat no-repeat;
}

.image-home-hero {
  mask-image: url(/images/image-home-mask.svg);
  mask-repeat: no-repeat;
  -webkit-mask-image: url(/images/image-home-mask.svg);
  -webkit-mask-repeat: no-repeat;
}
